.banner {
	&--full {
		display: none !important;
		img {
			max-width: 100%;
			width: 100%;
		}
		@include atMedium{
			display: block!important;
		}
	}
	&--mobile {
		img {
			max-width: 100%;
			width: 100%
		}
		@include atMedium {
			display: none !important;
		}
	}
}
