.bread-crumb {
	display: none;
	@include atMedium {
		display: block;
		padding: 10px 0;
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				margin: 0 10px;
				color: #666666;
				font-family: "Knowledge-Bold";
				font-size: 10px;
				text-transform: uppercase;
				letter-spacing: 0.38px;
				display: flex;
				a, strong {
					color: #757575;
					font-size: 10px;
					flex-wrap: nowrap;
					flex-shrink: 0;
					&:hover {
						color: $c-orange;
					}
				}
				&::after {
					content: ">";
					display: inline-block;
					margin-left: 10px;
				}

				&:last-child {
					&::after {
						display: none;
					}
				}
				&.last {
					a {
						color: $c-secondary;
						font-weight: 700;
					}
				}
			}
		}
	}
}
