.countdown {
	background-color: #fbfbfb;
	color: #727272;
	padding: 20px;




	&__text {
		margin: 0 0 10px;
		text-align: center;
		display: block;
		color: #4d4d4d;
		font-family: "Knowledge-Black";
		font-size: 25px;
	}
}

.legend {
	justify-content: center;
	text-transform: uppercase;

	&__inner {
		justify-content: space-between;
		display: flex;

		span:first-child {
			margin-left: 48px;
		}

		span:last-child {
			margin-right: 55px;
		}
	}
}

#clock {

	display: flex;

	justify-content: center;
	align-items: center;

	.digital {
		.value {
			border: 1px solid #ccc;
			padding: 10px;
			border-radius: 5px;
			font-size: 25px;
			font-weight: 900;
			position: relative;
			justify-content: center;
			color: #ff8000;

			display: flex;
			min-width: 60px;
			height: 60px;
			&::after {
				content: ':';
				position: absolute;
				right: -15px;
				color: #757575;
			}
		}
		.text {
			display: block;
			text-align: center;
			text-transform: uppercase;
			margin-top: 5px;
		}


		margin: 10px;
		color: #757575;



		&:last-child,
		&.days {
			.value {
				&::after {
					display: none;
				}
			}

		}

		&.days {
			.value {
				border: none;
			}

		}
	}
}

.shelf__countdown {
	display: flex;

	flex-wrap: wrap;
	align-items: center;

	#promocao {
		display: none;
	}
	.shelf {
		max-width: 732px;
		width: auto;
		position: relative;
		padding: 0 50px;
	}

	li {
		padding: 0 20px;
	}

	.product__shelf {
		padding: 0 10px 20px;
	}

	.show-on-hover {
		display: none !important;
	}


}
