.timer span {
	font-size: 52px;
	font-weight: 700;
}

.timer {
	font-weight: 300;
	font-size: 28px;
}

.banner-countown .box-banner {
	display: block !important;
}

.countdown {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	color: #fff;
	right: 0;
	bottom: 0;
	width: 100%;
}

.countdown-wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	height: 100%;
	align-items: center;
}
