.filter {
	padding: 10px 0;
	&__content {
		display: none;
	}

	.navigation-tabs {
		.menu-navegue, a, h4, h3, h5 {
			display: none;
		}
		.search-multiple-navigator {
			display: flex;
			fieldset {
				display: block;
				width: 150px;
				margin-right: 10px;
				background: #fff;
				border: 1px solid #ccc;
				padding: 8px;
				border-radius: 30px;
				position: relative;
				&.refino-marca {
					display: block;
				}
				&:before {
					content: "";
					width: 25px;
					height: 25px;
					background: url(/arquivos/arrow-select.png) no-repeat center;
					background-size: contain;
					display: block;
					position: absolute;
					right: 4px;
					top: 4px;
					z-index: 4;
					transition: 1s ease;
				}
				&:hover {
					div {
						display: block;
					}
				}
				h5 {
					display: block;
					font-family: $f-base;
					font-size: 11px;
					font-weight: 700;
					color: #666666;
					letter-spacing: 0.69px;
				}
				div {
					display: none;
					position: absolute;
					top: 20px;
					width: 101.2%;
					background: #fff;
					left: -1px;
					padding: 12px;
					border: 1px solid #ccc;
					z-index: 1;
					border-top: 0;
					border-bottom-left-radius: 30px;
					border-bottom-right-radius: 30px;
					transition: 1s ease;
					label {
						display: block;
						cursor: pointer;
						font-size: 11px;
						font-family: $f-base;
					}
				}
			}
		}
	}

	// display: flex;
	// justify-content: space-between;
	// &__title {
	// 	display: none;
	// 	@include atMedium {
	// 		color: $c-black;
	// 		font-family: "Knowledge-Black";
	// 		font-size: 25px;
	// 		font-weight: 900;
	// 		display: block;
	// 		flex: 3;
	// 	}
	// }
	// &__opt {
	// 	display: flex;
	// 	justify-content: space-around;
	// 	flex: 1;
	// 	@include atMedium {
	// 		justify-content: space-between;
	// 	}
	// }
	// &__opt-item {
	// 	font-family: "Knowledge-Bold";
	// 	font-size: 13px;
	// 	font-weight: 700;
	// 	text-transform: uppercase;
	// 	flex-wrap: nowrap;

	// 	a {
	// 		text-decoration: none;
	// 		color: $c-gray-dark;
	// 		border-bottom: 2px solid transparent;
	// 		transition: border-color 0.3s ease;
	// 		padding-bottom: 2px;
	// 	}
	// 	&:hover,
	// 	&:active {
	// 		a {
	// 			border-bottom: 2px solid $c-orange;
	// 		}
	// 	}
	// }
}
