body.login {
  .vtexIdUI.ng-scope.vtexIdUI-show-app {
    border: 0 !important;
	box-shadow: 0 !important;
	z-index: 9999 !important;
  }
  .vtexIdUI-heading {
    padding-top: 6px !important;
    span:first-child {
      font-size: 0 !important ;
      &::after {
        content: "Login /Cadastre-se" !important;
        color: $c-gray-dark !important;
        font-family: "Knowledge-Black", "Rubik", Arial !important;
        font-size: 25px !important;
        text-align: center !important;
        font-weight: bold !important ;
        display: inline;
      }
    }
  }
  .vtexIdUI-header.row-fluid {
    display: none !important;
  }
  .modal-header {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .close.vtexIdUI-close.ng-hide {
    border: 0 !important;
    background-color: transparent !important;
    color: $c-gray-lighter;
    font-size: 37px !important;
    font-weight: 300 !important;
	padding: 0px 13px !important;
	display: block !important;
  }
  .btn.btn-block.btn-large {
    box-shadow: none !important;
    border: 0 !important;
    text-shadow: none !important;
    height: 42px !important;
    &#loginWithAccessKeyBtn {
      font-weight: lighter;
      background-image: none !important;
      background: linear-gradient(
        to left,
        #666,
        #666 85%,
        #4d4d4d 50%,
        #4d4d4d 50%
      ) !important;
      font-size: 0px !important;
      position: relative !important;
      ::before {
        content: "Receber chave por e-mail" !important;
        display: block !important;
        color: $c-white !important;
        font-size: 16px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
      &::after {
        content: "\e01f" !important;
        font-family: "simple-line-icons" !important;
        color: $c-white !important;
        display: inline-flex !important;
        position: absolute !important;
        top: 10px !important;
        left: 15px !important;
        font-size: 24px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
    }
    &#vtexIdUI-google-plus {
      font-weight: lighter;
      background-image: none !important;
      background: linear-gradient(
        to left,
        #dd4a39,
        #dd4a39 85%,
        #672a18 50%,
        #672a18 50%
      ) !important;
      font-size: 0px !important;
      position: relative !important;
      ::before {
        content: "Entrar com o Google" !important;
        display: block !important;
        color: $c-white !important;
        font-size: 16px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
      &::after {
        content: "\e60d" !important;
        font-family: "simple-line-icons" !important;
        color: $c-white !important;
        display: inline-flex !important;
        position: absolute !important;
        top: 10px !important;
        left: 15px !important;
        font-size: 24px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
      p {
        span {
          display: none;
        }
      }
    }
    &#vtexIdUI-facebook {
      font-weight: lighter;
      background-image: none !important;
      background: linear-gradient(
        to left,
        #3a5999,
        #3a5999 85%,
        #28447f 50%,
        #28447f 50%
      ) !important;
      font-size: 0px !important;
      position: relative !important;
      ::before {
        content: "Entrar com o Facebook" !important;
        display: block !important;
        color: $c-white !important;
        font-size: 16px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
      &::after {
        content: "\e00b" !important;
        font-family: "simple-line-icons" !important;
        color: $c-white !important;
        display: inline-flex !important;
        position: absolute !important;
        top: 10px !important;
        left: 15px !important;
        font-size: 24px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
      p {
        span {
          display: none;
        }
      }
    }
    &#loginWithUserAndPasswordBtn {
      font-weight: lighter;
      background-image: none !important;
      background: linear-gradient(
        to left,
        #ff7f01,
        #ff7f01 85%,
        #ff5801 50%,
        #ff5801 50%
      ) !important;
      font-size: 0px !important;
      position: relative !important;
      ::before {
        content: "Entrar com o E-mail e senha" !important;
        display: block !important;
        color: $c-white !important;
        font-size: 16px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
      &::after {
        content: "\e066" !important;
        font-family: "simple-line-icons" !important;
        color: $c-white !important;
        display: inline-flex !important;
        position: absolute !important;
        top: 10px !important;
        left: 15px !important;
        font-size: 24px !important;
        @media (max-width: 798px) {
          font-size: 13px !important;
        }
      }
      p {
        span {
          display: none;
        }
      }
    }
  }
  .vtexid-icon-mail {
    display: none !important;
  }
  .vtexIdUI-providers-i {
    opacity: 0 !important;
  }
  .vtexIdUI-form-classic-login {
  }

  // LOGIN COM EMAIL E SENHA

  .vtexIdUI-classic-login, .vtexIdUI-confirm-email, .vtexIdUI-change-pswd {
    z-index: 99999;
    .modal-header {
      display: flex !important;
      align-items: center !important;
      justify-content: left !important;
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
    .modal-body {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
    .modal-footer {
      padding-left: 40px !important;
      padding-right: 40px !important;
      button {
        font-size: 0;
        :before {
          content: "Confirmar";
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
    .vtexIdUI-heading {
      color: $c-gray-dark !important;
      font-family: "Knowledge-Black", "Rubik", Arial !important;
      font-size: 25px !important;
      text-align: center !important;
      font-weight: bold !important ;
      display: inline !important ;
      @media (max-width: 798px) {
        font-size: 19px !important;
      }
    }
    .control-label {
      color: $c-gray-dark !important;
      font-family: "Knowledge", "Rubik", Arial !important;
      font-size: 15px;
      font-weight: normal !important;
      font-weight: bold !important;
    }
    .email-model .control-label span {
      font-size: 0;
      &:before {
        content: "E-mail";
        font-size: 15px;
        font-weight: bold;
      }
    }
    
    .vtexIdUI-classic-login-control {
      .control-label a {
        display: none;
      }
      a {
        font-size: 0;
        float: none;
        &:before {
          content: "Esqueçeu sua senha?";
          font-size: 14px;
        }
      }
    } 
    .ng-pristine {
      border-radius: 20px;

      &::placeholder {
        color: #989898;
      }
    }
    
      .dead-link {
        display:block;
        line-height: 2.14;
        letter-spacing: 0.3px;
        text-align: center;
        color: #989898;
        font-family: "Knowledge", "Rubik", Arial !important;
      }
    input {
      border-radius: 26px;
    }

    .modal-footer {
      .btn {
        font-size: 0;
      }
      .btn:before {
        font-size: 15px;
        content: "CONFIRMAR";
        text-transform: uppercase;
        font-weight: bold;
    }
    }
  }
}
