.minicart {
	position: relative;
	&__overlay {
		width: 100vw;
		height: 100vh;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.7);
		top: 0;
		left: 0;
		z-index: 50;
		display: none;
		.active & {
			display: block;
		}
	}

	&__container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 65px;
		height: 100%;
		background-color: $c-white;

		z-index: 999999;
		display: none;
		flex-direction: column;
		.active & {
			display: flex;
		}
		.minicart__close {
			position: absolute;
			left: -30px;
			top: 10px;
			color: white;
			cursor: pointer;
		}
		@include atMedium {
			width: 358px;
			left: initial;
		}
	}
	&__content {
		overflow-y: auto;
	}

	&__header {
		width: 100%;
		.minicart__icon {
			color: $c-orange;
			@include font-size(20px);
		}
		.minicart__title {
			color: $c-orange;
			font-family: "Knowledge-Regular";
			@include font-size(20px);
			font-weight: 400;
			text-transform: uppercase;
			margin: 0 5px;
		}
	}

	&__handle {
		border: none;
		box-shadow: 0;
		background-color: transparent;
		padding: 0;
		margin: 0;
		.minicart__header & {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 20px;
			// background-color: $c-blue;
			svg {
				width: 10px;
			}

			path {
				fill: $c-white;
			}
		}
	}

	&__footer {
		margin-top: auto;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
		background-color: #ffffff;
	}

	&__checkout {
		display: block;
		padding: 20px;
		text-transform: uppercase;
		text-align: center;
		color: $c-white;
		font-family: "Knowledge-Black";
		@include font-size(15px);
		font-weight: 900;
		width: 200px;
		height: 45px;
		background-color: #77a22d;
		border-radius: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px auto 20px auto;
	}

	&__totals {
		padding: 20px;
		padding-bottom: 0;
		// background-color: $c-blue;
		text-transform: uppercase;
		color: $c-white;
		text-align: center;
		&-text {
			margin-right: 5px;
		}
		&-value {
			color: $c-white;
		}
		&-text,
		&-value {
			color: $c-orange;
			font-family: "Knowledge-Black";
			font-size: 20px;
			font-weight: 900;
			line-height: 20px;
			text-transform: uppercase;
		}
	}

	&-product {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dcdcdc;

		&__image {
			width: 63px;
			height: 90px;
			padding: 2px;
			overflow: hidden;

			img {
			}
		}

		&__info {
			padding: 5px;
			max-width: 168px;
		}

		&__name {
			@include font-size(14px);
			color: $c-gray-dark;
			font-family: "Knowledge-Bold";
			font-weight: 700;
			line-height: 16px;
		}

		&__remove {
			background-color: transparent;
			border: none;
		}
		&__price {
			color: $c-orange;
			font-family: "Knowledge-Black";
			@include font-size(18px);
			font-weight: 900;
			text-transform: uppercase;
		}
	}

	&__count {
		display: flex;
		align-items: center;
		&-value {
			justify-content: center;
			color: #fff;
			@include font-size(12px);
			background-color: #ff8000;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			position: relative;
			display: flex;
			align-items: center;
			top: -12px;
			right: 8px;
		}
	}
}
body.minicart-oppened {
	height: 100vh;
	overflow: hidden;
}
