.most-visited {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 760px;

	@include atMedium {
		border-right: 2px solid #d0d0d0;
	}
	&__select {
		h3 {
			color: #afafaf;
			font-family: "Knowledge-Bold";
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.75px;
			margin-right: 20px;
		}

		.optionSelect {
			border: 1px solid #afafaf;
			border-radius: 15px;
			padding: 10px;
			&__select {
				display: none;

				&.active {
					display: block;
				}
			}
		}
	}
	&__header {
		display: flex;
		flex-direction: column;
		margin-bottom: 45px;
		@include atMedium {
			flex-direction: row;
		}
	}
	&__title {
		color: #4d4d4d;
		font-family: "Knowledge-Black";
		font-size: 25px;
		font-weight: 900;
		display: flex;
		align-items: center;
		flex: 1;
		justify-content: center;
		margin: 20px auto;
		@include atMedium {
			justify-content: flex-start;
			margin: 0;
		}
	}
	&__select {
		display: flex;
		justify-content: center;
		align-items: center;

		li:first-of-type {
			display: none;
		}
		@include atMedium {
			margin-right: 50px;
			justify-content: flex-end;
			li:first-of-type {
				display: flex;
			}
		}
	}
	&__opt {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__choose {
		color: $c-gray-lighter;
		font-family: "Knowledge-Bold";
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.75px;
		margin-right: 20px;
	}
	&__result {
		width: 196px;
		height: 35px;
		border-radius: 18px;
		border: 1px solid $c-gray-lighter;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #4d4d4d;
		font-family: "Knowledge-Bold";
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.75px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include atMedium {

		}
	}

	&__item, li {
		float: left;
		width: 100%;
		max-width: 374px;
	}
}
