$top-flag-val: 50px;
.product {
	.flag {
		width: 55px;
		height: 55px;
		background-color: $c-gray-dark;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 5px;
		top: $top-flag-val;
		@include font-size(8px);
		color: $c-white;
		font-family: "Knowledge-Medium";
		font-weight: 500;
		text-transform: uppercase;
		// &--novidade,
		// &--e-book {
		// 	@include font-size(8px);
		// 	color: $c-white;
		// 	font-family: "Knowledge-Medium";
		// 	font-weight: 500;
		// 	text-transform: uppercase;
		// }

		&.black-friday {
			font-size: 0.6rem !important;
			text-align: center !important;
			background-color: #f58920 !important;
		}

		&:nth-of-type(2) {
			top: calc(#{$top-flag-val} + 50px);
		}
		&:nth-of-type(3) {
			top: calc(#{$top-flag-val} + 100px);
		}
	}
	.flag--e-book {
		display: none;
	}
	.show-on-hover {
		@include atMedium {
			position: absolute;
			width: 100%;
			top: 70%;
			left: 0;
			background: white;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
			opacity: 0;
			z-index: 4;
		}
	}
	padding: 0;
	&__shelf {

		background-color: $c-white;
		padding: 0 10px;
	}
	a {
		text-decoration: none;
	}
	&__category {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 500;
		color: $c-black;
		padding: 6px;
		border-bottom: 2px solid $c-gray-light;
		height: 27px;
		color: #4d4d4d;
		font-family: "Knowledge-Bold";
	}
	&__media {
		position: relative;
		margin: 16px auto;
		@include atMedium {
			display: block;
		}
	}
	&__link {
		font-family: "Knowledge-Medium";
		font-size: 13px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $c-gray-dark;
		margin: auto;
		width: 100%;
		height: 100%;
		img {
			width: 111px;
			height: 160px;
		}
	}
	&__info {
		text-align: center;
		min-height: 60px;
	}
	&__author,
	.product__watch-author-link {
		display: block !important;
		.product-field {
			font-size: 0px;
		}
		li {
			width: 150px;
			color: #afafaf;
			font-family: "Knowledge-Regular";
			font-size: 13px;
			font-weight: 400;
			margin: auto;
			padding: 0;
			white-space: nowrap;
			box-shadow: none !important;
			margin: 0 !important;
			width: 100% !important;

		}
	}

	&__price {
		margin-bottom: 7px;
		height: 60px;
	}
	.price {
		&__list-line {
			color: $c-gray-dark;
			font-family: "Knowledge-Regular";
			font-size: 13px;
			font-weight: 400;
			line-height: 18px;
			text-decoration: line-through;
			display: block;
			margin: 0 auto;
			text-transform: capitalize;
			text-align: center;
		}
		&__list {
			padding-top: 18px;
			@extend .price__best;
		}
		&__best {
			display: block;
			color: $c-orange;
			font-family: "Knowledge-Black";
			font-size: 16px;
			font-weight: 900;
			line-height: 18px;
			text-align: center;
		}
		&__installment {
			color: $c-gray-dark;
			font-family: "Knowledge-Regular";
			font-size: 13px;
			font-weight: 400;
			line-height: 18px;
			text-align: center;
			display: block;
			margin-top: 6px;
		}
	}
	&__unavailable {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// STYLES FOR CUSTOM SHELF BANNERS
	&__promo {
		width: 535px;
		height: 350px;
	}
	&__promo-shelf {
		max-width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2fr 1fr 2fr 1fr 1fr 2fr;
		background-size: contain;
		background-repeat: no-repeat;
		grid-template-areas:
			". ."
			". category"
			". name"
			". price"
			". button";
		.button {
			grid-area: button;
			margin: 0;
			padding: 0;
		}
	}
	&__promo-shelf-id {
		display: none;
	}
	&__promo-category {
		grid-area: category;
		font-family: Rubik;
		font-size: 14px;
		font-weight: 700;
		line-height: 27px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $c-orange;
	}
	&__promo-info {
		grid-area: name;
		font-family: "Rubik";
		font-size: 20px;
		font-weight: 500;
		line-height: 27px;
		letter-spacing: 0.87px;
		margin: 12px 0;
		a {
			color: $c-white;
		}
	}
	&__promo-price {
		grid-area: price;
		font-family: "Rubik", sans-serif;
		color: $c-orange;
		margin-bottom: 16px;
		p {
			display: inline-block;
			font-size: 20px;
			color: #ffffff;
			font-weight: 500;
			letter-spacing: 1.3px;
		}
		.price__best {
			font-weight: 700;
			letter-spacing: 0.5px;
			font-size: 30px;
			line-height: 30px;
			display: inline-block;
		}
	}

	// PRODUCT "WATCH" STYLES *** this is the LAST SHELF ON HOME
	&__watch {
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px;
		@include atMedium {
			padding: 0;
		}
	}
	&__watch-media {
		display: block;
		// width: 100%;
		// width: 111px;
		// height: 160px;
	}
	&__watch-link {
		display: block;
		width: 100%;
		height: 100%;
		color: $c-gray-dark;
		font-family: "Knowledge-Medium";
		font-size: 14px;
		font-weight: 500;
		img {
			width: 100px;
			height: 145px;
		}
	}
	&__watch-id {
		display: none;
	}
	&__watch-info {
		padding-left: 10px;
		max-width: 274px;
		@include atMedium {
			padding: 20px;
		}

		@include atSmall {
			max-width: 174px;
		}
	}
	&__watch-author {
		margin-bottom: 10px;
		display: none;
	}

	&__watch-author-name {
		min-height: 42px;
	}
	&__watch-author-link {
		color: $c-gray-lighter;
		font-family: "Knowledge-Regular";
		font-size: 13px;
		font-weight: 400;
	}

	// PRODUCT PAGEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
	// THE MAIN GRID
	&__main {
		display: flex;
		align-items: center;
		justify-content: space-between;

		#include {
			display: none;
			@include atMedium {
				display: block;
			}
		}
		@include atMedium {

		}
		.product__media {
			margin: 0;
		}
	}
	.autores--pgprod {
		color: $c-gray-dark;
		font-family: "Knowledge-Regular";
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
		span {
			font-family: "Knowledge-Medium";
			font-weight: 500;
		}
	}

	&__name {
		&--pgprod {
			display: none;
			@include atMedium {
				display: block;
				color: #414141;
				font-family: "Knowledge-Medium";
				@include font-size(24px);
				font-weight: 500;
				letter-spacing: -0.4px;
				text-align: left;
				border-bottom: 1px solid $c-grey-simple;
				padding: 10px 0;
			}
			&-mobile {
				display: block;
				text-align: center;
				padding: 10px 0;
				color: #414141;
				font-family: "Knowledge-Medium";
				@include font-size(24px);
				font-weight: 500;
				letter-spacing: -0.4px;
				width: 100vw;
				@include atMedium {
					display: none;
					width: auto;
				}
			}
		}
	}
	&__price--pgprod {
		margin-top: 20px;
		@include atMedium {
			margin-top: 0;
		}
	}

	// SPECIFICATION AND DESCRIPTION HIDING TITLES TO ADD THE CUSTOM ONES
	&-description-box {
		h4 {
			display: none;
		}
		h2 {
			display: none;
		}
	}
	// DESCRIPTION LEFT SIDE OF GRID

	&__description-title {
		background-color: $c-white;
		color: $c-gray-shades;
		font-family: "Knowledge-Medium";
		@include font-size(14px);
		font-weight: 500;
		// text-transform: uppercase;
		border-top: 1px solid $c-gray-soft;
		border-bottom: 1px solid $c-gray-soft;
		padding: 10px 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		i {
			@include font-size(18px);
			color: $c-gray-dark;
		}
		@include atMedium {
			padding: 0;
			width: auto;
			color: $c-black;
			font-family: "Knowledge-Black";
			@include font-size(25px);
			font-weight: 900;
			margin-bottom: 20px;
			border: 0;
			i {
				display: none;
			}
		}
	}
	&__description-text {
		display: none;
		color: $c-gray-dark;
		font-family: "Knowledge-Regular";
		@include font-size(15px);
		font-weight: 400;
		line-height: 18px;
		padding: 10px;
		background: #f0f0f0;
		&.is-visible {
			display: block;
		}
		@include atMedium {
			display: block;
			@include font-size(14px);
			padding: 0;
			padding-right: 25px;
			height: 245px;
			overflow-y: auto;
			background: initial;
		}
	}

	// SPECIFICATION RIGHT SIDE OF THE GRID
	&__specification {
		@include atMedium {
			padding-left: 35px;
		}
	}
	&__specification-text {
		display: none;
		background: #f0f0f0;
		color: $c-gray-dark;
		font-family: "Knowledge-Regular";
		@include font-size(15px);
		font-weight: 400;
		line-height: 24px;
		padding: 10px 10px 20px 20px;
		.name-field {
			font-family: "Knowledge-Medium";
			font-weight: 500;
			padding-right: 10px;
		}
		.new-structure {
			div {
				display: flex;
				div {
					flex-wrap: wrap;
				}
			}
		}
		&.is-visible {
			display: block;
		}
		@include atMedium {
			display: block;
			padding: 0;
			@include font-size(14px);
			background: initial;
			overflow-y: auto;
		}
	}
	.plugin-preco {
		position: relative;
	}
	// GRID DENTRO DE INFO
	&__info {
		&--pgprod {
			margin-left: 50px;
			max-width: 539px;
		}
	}
	&__shipping {
		display: none;
		@include atMedium {
			padding: 10px 0;
			display: block;

			.content {
				fieldset {
					label.prefixo {
						font-size: 13px;
						font-size: 0.8125rem;
						color: $c-gray-dark;
						font-family: $f-base;
						font-weight: 400;
						line-height: 12px;
						input {
							display: block;
							border: 1px solid #ccc;
							width: 232px;
							margin: 14px 0;
						}
					}
					.shipping-value {
						font-size: 0 !important;
					}
					.freight-zip-box {
						padding: 10px;
					}
					.freight-btn {
						width: 50px;
						border-radius: 23px;
						background-color: #616161;
						color: white;
					}
					.cep-busca {
						a {
							color: $c-gray-dark;
							font-family: $f-base;
							font-size: 12px;
							padding-left: 2px;
						}
					}
					table {
						tbody {
							tr {
								th {
									color: $c-gray-dark;
									font-family: $f-base;
									font-size: 12px;
									padding-left: 0;
								}
								td {
									color: $c-gray-dark;
									font-family: $f-base;
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
	&__shipping-link {
		@include font-size(13px);
		color: $c-gray-dark;
		font-family: "Knowledge-Regular";
		font-weight: 400;
		line-height: 12px;
	}

	.shipping-value {
		@include font-size(13px);
		color: $c-gray-dark;
		font-family: "Knowledge-Regular";
		font-weight: 400;
	}
	// PRICE DO CONTROLE VTEX product page
	.descricao-preco {

		font-family: "Knowledge-Regular";
		margin: 18px 0;
		em {
			font-style: normal;
		}
		@include atMedium {
			justify-content: flex-start;
			text-align: left;
		}
		.valor-de,
		.valor-de strong {
			color: $c-gray-dark;
			font-family: "Knowledge-Regular";
			@include font-size(16px);
			font-weight: 400;
			text-decoration: line-through;
			@include atMedium {
				@include font-size(13px);
			}
		}
		.valor-por,
		.valor-por strong {
			color: $c-orange;
			font-family: "Knowledge-Regular";
			@include font-size(30px);
			font-weight: 400;
			@include atMedium {
				@include font-size(25px);
			}
		}
		.valor-dividido,
		.valor-dividido strong {
			color: $c-gray-dark;
			font-family: "Knowledge-Regular";
			@include font-size(16px);
			font-weight: 400;
			@include atMedium {
				@include font-size(13px);
			}
		}
	}
	.preco-a-vista {
		display: none !important;
	}
	.economia-de {
		font-style: normal;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		top: -30px;
		width: 145px;
		height: 25px;
		border-radius: 20px;
		background-color: $c-gray-lighter;
		color: $c-white;
		font-family: "Knowledge-Bold";
		@include font-size(10px);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		margin: 0 auto;
		left: 0;
		span {
			font-style: normal;
			color: $c-white;
			font-family: "Knowledge-Bold";
			@include font-size(10px);
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			padding-left: 3px;
		}
		@include atMedium {
			top: 0;
			margin: 0;
			left: auto;
		}
	}

	// ORGANIZANDO OS THUMBS
	&__media-top {
		position: relative;
		@include atMedium {
			.flag {
				right: 10px;
			}
			width: auto;
			img {
				width: auto;
			}
			#show {
				display: grid;
				grid-template-columns: 0.2fr 1fr;
			}
			.thumbs {
				order: -1;
				display: flex;
				flex-direction: column;
				justify-content: initial;
				width: 88px;
				align-items: center;
			}
			li.slick-slide {
				border: 1px solid #d0d0d0;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 10px 0;
			}
		}

		&--mobile {
			width: 100vw;
			img {
				width: 100%;
				margin: 18px 10px;
			}
			.thumbs {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.slick-arrow {
					position: relative;
					right: 0;
					left: 0;
					background-color: transparent;
					border: 0;
					&:after {
						content: " ";
						position: absolute;
						width: 13px;
						height: 13px;
						color: $c-gray-dark;
						border: 2px solid $c-gray-dark;
						border-left: 0px;
						border-bottom: 0px;
						top: 33%;
						transform-origin: center;
						transform: rotate(45deg);
						border-radius: 2px;
						display: block;
						left: 25%;
					}
				}
				.slick-prev {
					&::after {
						transform: rotate(-45deg);
					}
				}
				.slick-next {
					&::after {
						transform: rotate(135deg);
					}
				}
			}
		}
		// FOTO PRINCIPAL DA PAGINA DE PRODUTO
		#image-main {
			width: 296px;
			height: 380px;
		}
	}

	// BUY-BUTTON INJECT STYLES
	&__action--pgprod {
		@include atMedium {
			border-bottom: 1px solid $c-grey-simple;
			padding: 10px 0 21px 0;
		}
	}
	&__action-bottom--pgprod {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		@include atMedium {
			flex-direction: row;
		}
		.buy-button {
			@extend .button__buy;
			display: flex !important;
			align-items: center;
			justify-content: center;
			width: 300px;
			height: 45px;
			@include font-size(16px);
			border-radius: 23px;
			@include atMedium {
				width: 200px;
			}
		}
		.button__preview {
			width: 300px;
			height: 45px;
			border-radius: 23px;
			@include font-size(16px);
			margin-bottom: 10px;
			@include atMedium {
				margin: 0 10px 0 0;
				width: 200px;
			}
		}
	}
	.bg-white {
		background-color: $c-white;
	}
	.quantity input {
		display: none;
	}
	#ctl00_lnkHome {
		display: none;
	}
	Í .shipping-value {
		display: none;
	}
	.shipping-box .header {
		display: none;
	}
	.shipping-box {
		display: none;
	}
	.btn-thickbox {
		display: none;
	}
	.content fieldset {
		display: flex;
		border: none;
	}
	.freight-btn {
		width: 250px;
		border-radius: 23px;
		background-color: $c-green;
		color: white;
	}
	.freight-zip-box {
		border-radius: 23px;
		border: 0;
		margin: 10px 0;
		background-color: #f4f4f4;
	}
	.skuList {
		.imageSku {
			display: none;
		}
		.nomeSku {
			display: none;
		}
		.portal-notify-me-ref {
			position: absolute;
			top: -44px;
			left: 0;
			background: #fafafa;
			width: 100%;
			height: 144px;
			padding: 0 15px;
			@include atMedium {
				padding: 0;
				top: 0;
				height: 105px;
			}
		}
		.preco {
			display: none;
		}
		a {
			display: none !important;
		}
		.seller-data {
			display: none;
		}
		.sku-notifyme-form.notifyme-form {
			border: 0;
			display: flex;
			@include atMedium {
				display: block;
			}
		}
		.notifymetitle.notifyme-title {
			font-family: "Knowledge-Bold";
			color: $c-gray-dark;
		}
		.sku-notifyme-client-name.notifyme-client-name,
		.sku-notifyme-client-email.notifyme-client-email {
			border-radius: 23px;
			background: white;
			padding: 8px;
			border: 0;
			width: 100%;
			@include atMedium {
				width: auto;
			}
		}
		.btn-ok.sku-notifyme-button-ok.notifyme-button-ok {
			width: 50px;
			border-radius: 23px;
			background-color: #616161;
			color: white;
		}
	}
}

.product__units {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 14px
}
