.search-bar {
	width: 482px;
	height: 40px;
	border-radius: 20px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__input {
		background-color: transparent;
		flex: 2;
		border: 0;
		padding: 0 10px;
		&:focus{
			outline: none;
		}
  }

  &--narrow {
    width: 361px;
  }

	// BULMA SELECT MOD
	.select {
		width: 101px;
		height: 30px;
		margin: 6px 0 6px 5px;
		font-family: "Knowledge - Regular";
		&::after {
			border-color: #fff !important;
			right: 1em;
			border-width: 2px !important;
		}
	}
	select {
		border-radius: 20px;
		background-color: #666666;
		color: #fff;
		font-size: 13px;
		width: 100%;
		height: 100%;
		padding-left: 20px;
		&:focus {
			border-color: #666;
		}
	}
}
