.shelf {
	li {
		&:hover {
			.show-on-hover {
				top: 100%;
				opacity: 1;
			}
		}
	}
	width: 100%;
	&__carousel--full {
		li {
			position: relative;
			margin: 10px;
		}
	}
	.prateleira {
		& > h2 {
			display: none;
		}
	}
	.slick-slide {
		&:focus {
			outline: none;
		}
	}
	.slick-arrow {
		border: 0;
		&.slick-prev {
			top: 175px;
			left: -55px;
			margin: 0;
			&::after {
				transform: rotate(-135deg);
				left: 38%;
			}
		}
		&.slick-next {
			top: 175px;
			right: -55px;
			margin: 0;
		}
	}

	&__banners {
		display: flex;
		@include atMedium {
			justify-content: space-between;
			:first-child {
				margin-right: 10px;
			}
		}
		@include atLarger {
			:first-child {
				margin-right: 0;
			}
		}
	}
	&__banners--only-one {
		padding: 20px;
		@include atMedium {
			padding: 0;
		}
	}
	&__banners-static {
		width: 100%;
		height: auto;
		img {
			margin: 0 auto;
		}
	}
}
