extends ../layouts/default.pug

block vars
  - var pageTitle = 'Categoria'
  - var bodyClass = 'catalog empty-search'

block content
    section.section__page.section__not-found
      i.simple-magnifier



