extends ../layouts/default.pug

block vars
	- var pageTitle = 'Categoria'
	- var bodyClass = 'empty-search'

block content
	.crumb-section.wrapper--block
		+vtex-controller('<vtex.cmc:breadCrumb />')
			.bread-crumb
				ul
					li
						a(title='casaegaragem', href='/') thomsonreuters
					li
						a(title='Thomson Reuters', href='https://casaegaragem.vtexcommercestable.com.br/casa-e-jardim') Thomson Reuters
					li.last
						strong
							a(title='Black & Decker', href='https://casaegaragem.vtexcommercestable.com.br/casa-e-jardim/black---decker?O=OrderByTopSaleDESC&PS=12') Resultados para
	section.section__empty-search
		i.simple-magnifier.empty-search__icon
		p.empty-search__text Não encontramos nenhum resultado com a palavra <span class="term"></span> .
		p.empty-search__text--small Que tal realizar uma nova busca?
		form(action="/busca")
			input.empty-search__search.search-bar(type="search", name="fq", placeholder="O que você procura?")/
	section.section__page.section-kits.section__shelf
		.filter.wrapper
			h2.filter__title Comercial
			ul.filter__opt
				//- li.filter__opt-item
				//-   a(href="") E-books
				//- li.filter__opt-item
				//- 	a(href="") Kits e coleções
				//- li.filter__opt-item
				//- 	a(href="") Comercial
		.shelf.shelf__carousel--full.wrapper--diff
			+vtex-controller('<vtex:contentPlaceHolder id="Colecao Kits"/>')
				.prateleira
					ul
						each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
							li
								include ../shelves/kit-shelf
