extends ../layouts/default.pug

block vars
  - var pageTitle = 'Categoria'
  - var bodyClass = 'home '

block content
  section.section__page.section__hero
    .banner.banner--full
      +vtex-controller('<vtex:contentPlaceHolder id="Banner Full" />')
        .box-banner
          a(href="")
            img(src="/arquivos/Banner_Home.png")/
        .box-banner
          a(href="")
            img(src="http://via.placeholder.com/1920x350")/
        .box-banner
          a(href="")
            img(src="http://via.placeholder.com/1920x350")/
  section.section__page.section__shelf
    .wrapper--block
      .filter
        h2.filter__title Pré-Venda
        ul.filter__opt
          li.filter__opt-item
            a(href="") Pré-venda
          li.filter__opt-item
            a(href="") Lançamentos
          li.filter__opt-item
            a(href="") Outlet
      .shelf.shelf__carousel--full
        +vtex-controller('<vtex:contentPlaceHolder id="Colecao Novidades" />')
          .prateleira
            ul
              each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                li
                  include ../shelves/product-shelf
  section.section__page.section__shelf-banners
    .wrapper
        .shelf
          .shelf__banners
            +vtex-controller('<vtex:contentPlaceHolder id="Promo Box 1" />')
              include ../shelves/promo-shelf
            +vtex-controller('<vtex:contentPlaceHolder id="Promo Box 2" />')
              include ../shelves/promo-shelf
              //- include ../shelves/promo-shelf-lançamento
  section.section__page.section__areas
    .wrapper--block
      .category-nav
        h2.category-nav__title Áreas de interesse
          +vtex-controller('<vtex:contentPlaceHolder id="category-nav" />')
            ul.category-nav__list
              li.category-nav__items
                a.category-nav__link
                  span.category-nav__icon
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="88" height="71" viewBox="0 0 88 71"><defs><path id="iq0mb" d="M500.6 1597c0-1 .8-1.8 1.8-1.8h25.2c1 0 1.8.8 1.8 1.8v5.4h5.4v-9a3.6 3.6 0 0 0-3.6-3.6h-32.4a3.6 3.6 0 0 0-3.6 3.6v9h5.4z"/><path id="iq0mc" d="M514.71 1622.72a2.7 2.7 0 0 1 2.7 2.7v7.35a2.7 2.7 0 0 1-5.4 0v-7.35a2.7 2.7 0 0 1 2.7-2.7"/><path id="iq0ma" d="M471.82 1623.7h86.4v36h-86.4z"/><path id="iq0me" d="M521.53 1630.9v2.1a6.82 6.82 0 0 1-13.64 0v-2.1h-22.12a10.4 10.4 0 0 1-5.78-1.8l-8.17-5.4v32.4a3.6 3.6 0 0 0 3.6 3.6h79.2a3.6 3.6 0 0 0 3.6-3.6v-32.4l-8.17 5.4a10.4 10.4 0 0 1-5.78 1.8z"/><path id="iq0mf" d="M554.6 1602.1h-79.2a3.6 3.6 0 0 0-3.6 3.6v13.04l8.46 6.43a10.4 10.4 0 0 0 6.3 2.12h21.31v-1.98a6.82 6.82 0 1 1 13.65 0v1.98h21.85c2.27 0 4.49-.74 6.3-2.12l8.46-6.43v-13.05a3.6 3.6 0 0 0-3.53-3.6"/><clipPath id="iq0md"><use xlink:href="#iq0ma"/></clipPath></defs><g><g transform="translate(-471 -1589)"><g><use fill="#4d4d4d" xlink:href="#iq0mb"/></g><g><use fill="#ff8000" xlink:href="#iq0mc"/></g><g><g/><g clip-path="url(#iq0md)"><use fill="#4d4d4d" xlink:href="#iq0me"/></g></g><g><use fill="#4d4d4d" xlink:href="#iq0mf"/></g></g></g></svg>
                  span.category-nav__title Administrativo

              li.category-nav__items
                a.category-nav__link
                  span.category-nav__icon
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="88" height="71" viewBox="0 0 88 71"><defs><path id="iq0mb" d="M500.6 1597c0-1 .8-1.8 1.8-1.8h25.2c1 0 1.8.8 1.8 1.8v5.4h5.4v-9a3.6 3.6 0 0 0-3.6-3.6h-32.4a3.6 3.6 0 0 0-3.6 3.6v9h5.4z"/><path id="iq0mc" d="M514.71 1622.72a2.7 2.7 0 0 1 2.7 2.7v7.35a2.7 2.7 0 0 1-5.4 0v-7.35a2.7 2.7 0 0 1 2.7-2.7"/><path id="iq0ma" d="M471.82 1623.7h86.4v36h-86.4z"/><path id="iq0me" d="M521.53 1630.9v2.1a6.82 6.82 0 0 1-13.64 0v-2.1h-22.12a10.4 10.4 0 0 1-5.78-1.8l-8.17-5.4v32.4a3.6 3.6 0 0 0 3.6 3.6h79.2a3.6 3.6 0 0 0 3.6-3.6v-32.4l-8.17 5.4a10.4 10.4 0 0 1-5.78 1.8z"/><path id="iq0mf" d="M554.6 1602.1h-79.2a3.6 3.6 0 0 0-3.6 3.6v13.04l8.46 6.43a10.4 10.4 0 0 0 6.3 2.12h21.31v-1.98a6.82 6.82 0 1 1 13.65 0v1.98h21.85c2.27 0 4.49-.74 6.3-2.12l8.46-6.43v-13.05a3.6 3.6 0 0 0-3.53-3.6"/><clipPath id="iq0md"><use xlink:href="#iq0ma"/></clipPath></defs><g><g transform="translate(-471 -1589)"><g><use fill="#4d4d4d" xlink:href="#iq0mb"/></g><g><use fill="#ff8000" xlink:href="#iq0mc"/></g><g><g/><g clip-path="url(#iq0md)"><use fill="#4d4d4d" xlink:href="#iq0me"/></g></g><g><use fill="#4d4d4d" xlink:href="#iq0mf"/></g></g></g></svg>
                  span.category-nav__title Administrativo

              li.category-nav__items
                a.category-nav__link
                  span.category-nav__icon
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="88" height="71" viewBox="0 0 88 71"><defs><path id="iq0mb" d="M500.6 1597c0-1 .8-1.8 1.8-1.8h25.2c1 0 1.8.8 1.8 1.8v5.4h5.4v-9a3.6 3.6 0 0 0-3.6-3.6h-32.4a3.6 3.6 0 0 0-3.6 3.6v9h5.4z"/><path id="iq0mc" d="M514.71 1622.72a2.7 2.7 0 0 1 2.7 2.7v7.35a2.7 2.7 0 0 1-5.4 0v-7.35a2.7 2.7 0 0 1 2.7-2.7"/><path id="iq0ma" d="M471.82 1623.7h86.4v36h-86.4z"/><path id="iq0me" d="M521.53 1630.9v2.1a6.82 6.82 0 0 1-13.64 0v-2.1h-22.12a10.4 10.4 0 0 1-5.78-1.8l-8.17-5.4v32.4a3.6 3.6 0 0 0 3.6 3.6h79.2a3.6 3.6 0 0 0 3.6-3.6v-32.4l-8.17 5.4a10.4 10.4 0 0 1-5.78 1.8z"/><path id="iq0mf" d="M554.6 1602.1h-79.2a3.6 3.6 0 0 0-3.6 3.6v13.04l8.46 6.43a10.4 10.4 0 0 0 6.3 2.12h21.31v-1.98a6.82 6.82 0 1 1 13.65 0v1.98h21.85c2.27 0 4.49-.74 6.3-2.12l8.46-6.43v-13.05a3.6 3.6 0 0 0-3.53-3.6"/><clipPath id="iq0md"><use xlink:href="#iq0ma"/></clipPath></defs><g><g transform="translate(-471 -1589)"><g><use fill="#4d4d4d" xlink:href="#iq0mb"/></g><g><use fill="#ff8000" xlink:href="#iq0mc"/></g><g><g/><g clip-path="url(#iq0md)"><use fill="#4d4d4d" xlink:href="#iq0me"/></g></g><g><use fill="#4d4d4d" xlink:href="#iq0mf"/></g></g></g></svg>
                  span.category-nav__title Administrativo

              li.category-nav__items
                a.category-nav__link
                  span.category-nav__icon
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="88" height="71" viewBox="0 0 88 71"><defs><path id="iq0mb" d="M500.6 1597c0-1 .8-1.8 1.8-1.8h25.2c1 0 1.8.8 1.8 1.8v5.4h5.4v-9a3.6 3.6 0 0 0-3.6-3.6h-32.4a3.6 3.6 0 0 0-3.6 3.6v9h5.4z"/><path id="iq0mc" d="M514.71 1622.72a2.7 2.7 0 0 1 2.7 2.7v7.35a2.7 2.7 0 0 1-5.4 0v-7.35a2.7 2.7 0 0 1 2.7-2.7"/><path id="iq0ma" d="M471.82 1623.7h86.4v36h-86.4z"/><path id="iq0me" d="M521.53 1630.9v2.1a6.82 6.82 0 0 1-13.64 0v-2.1h-22.12a10.4 10.4 0 0 1-5.78-1.8l-8.17-5.4v32.4a3.6 3.6 0 0 0 3.6 3.6h79.2a3.6 3.6 0 0 0 3.6-3.6v-32.4l-8.17 5.4a10.4 10.4 0 0 1-5.78 1.8z"/><path id="iq0mf" d="M554.6 1602.1h-79.2a3.6 3.6 0 0 0-3.6 3.6v13.04l8.46 6.43a10.4 10.4 0 0 0 6.3 2.12h21.31v-1.98a6.82 6.82 0 1 1 13.65 0v1.98h21.85c2.27 0 4.49-.74 6.3-2.12l8.46-6.43v-13.05a3.6 3.6 0 0 0-3.53-3.6"/><clipPath id="iq0md"><use xlink:href="#iq0ma"/></clipPath></defs><g><g transform="translate(-471 -1589)"><g><use fill="#4d4d4d" xlink:href="#iq0mb"/></g><g><use fill="#ff8000" xlink:href="#iq0mc"/></g><g><g/><g clip-path="url(#iq0md)"><use fill="#4d4d4d" xlink:href="#iq0me"/></g></g><g><use fill="#4d4d4d" xlink:href="#iq0mf"/></g></g></g></svg>
                  span.category-nav__title Administrativo

              li.category-nav__items
                a.category-nav__link
                  span.category-nav__icon
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="88" height="71" viewBox="0 0 88 71"><defs><path id="iq0mb" d="M500.6 1597c0-1 .8-1.8 1.8-1.8h25.2c1 0 1.8.8 1.8 1.8v5.4h5.4v-9a3.6 3.6 0 0 0-3.6-3.6h-32.4a3.6 3.6 0 0 0-3.6 3.6v9h5.4z"/><path id="iq0mc" d="M514.71 1622.72a2.7 2.7 0 0 1 2.7 2.7v7.35a2.7 2.7 0 0 1-5.4 0v-7.35a2.7 2.7 0 0 1 2.7-2.7"/><path id="iq0ma" d="M471.82 1623.7h86.4v36h-86.4z"/><path id="iq0me" d="M521.53 1630.9v2.1a6.82 6.82 0 0 1-13.64 0v-2.1h-22.12a10.4 10.4 0 0 1-5.78-1.8l-8.17-5.4v32.4a3.6 3.6 0 0 0 3.6 3.6h79.2a3.6 3.6 0 0 0 3.6-3.6v-32.4l-8.17 5.4a10.4 10.4 0 0 1-5.78 1.8z"/><path id="iq0mf" d="M554.6 1602.1h-79.2a3.6 3.6 0 0 0-3.6 3.6v13.04l8.46 6.43a10.4 10.4 0 0 0 6.3 2.12h21.31v-1.98a6.82 6.82 0 1 1 13.65 0v1.98h21.85c2.27 0 4.49-.74 6.3-2.12l8.46-6.43v-13.05a3.6 3.6 0 0 0-3.53-3.6"/><clipPath id="iq0md"><use xlink:href="#iq0ma"/></clipPath></defs><g><g transform="translate(-471 -1589)"><g><use fill="#4d4d4d" xlink:href="#iq0mb"/></g><g><use fill="#ff8000" xlink:href="#iq0mc"/></g><g><g/><g clip-path="url(#iq0md)"><use fill="#4d4d4d" xlink:href="#iq0me"/></g></g><g><use fill="#4d4d4d" xlink:href="#iq0mf"/></g></g></g></svg>
                  span.category-nav__title Administrativo

















  //- section.section__page.section__shelf
  //- 	.container
  //- 		h2.section__title Mais Vendidos
  //- 		.shelf.shelf__carousel--full
  //- 			+vtex-controller('<vtex:contentPlaceHolder id="Colecao Mais Vendidos" />')
  //- 				.prateleira
  //- 					ul
  //- 						each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  //- 							li
  //- 								include ../shelves/prateleira
  //- section.section__page.section__shelf
  //- 	.container
  //- 		h2.section__title Comprar por categoria
  //- 		.buy-by-category
  //- 			.category.category__card
  //- 				.category__card-header
  //- 					.category__card-media
  //- 						img(src="http://via.placeholder.com/275x275")/
  //- 					.category__card-info
  //- 						span.category__name Ferramentas Manuais
  //- 						a.category__link(href="/category.html") Ver todos
  //- 				.category__menu
  //- 					ul.menu-list
  //- 						li
  //- 							a(href="/category.html") Alicates
  //- 						li
  //- 							a(href="/category.html") Lixadeira Manual
  //- 						li
  //- 							a(href="/category.html") Jogos de Soquetes
  //- 						li
  //- 							a(href="/category.html") Grampos
  //- 						li
  //- 							a(href="/category.html") Martelo

  //- 			+vtex-controller('<vtex:contentPlaceHolder id="Comprar por categoria I" />')
  //- 				.shelf.prateleira.shelf__carousel--category
  //- 					ul
  //- 						each val in [1, 2, 3, 4]
  //- 							li
  //- 								include ../shelves/prateleira
  //- 		.buy-by-category
  //- 			.category.category__card
  //- 				.category__card-header
  //- 					.category__card-media
  //- 						img(src="http://via.placeholder.com/275x275")/
  //- 					.category__card-info
  //- 						span.category__name Ferramentas Manuais
  //- 						a.category__link(href="/category.html") Ver todos
  //- 				.category__menu
  //- 					ul.menu-list
  //- 						li
  //- 							a(href="/category.html") Alicates
  //- 						li
  //- 							a(href="/category.html") Lixadeira Manual
  //- 						li
  //- 							a(href="/category.html") Jogos de Soquetes
  //- 						li
  //- 							a(href="/category.html") Grampos
  //- 						li
  //- 							a(href="/category.html") Martelo

  //- 			+vtex-controller('<vtex:contentPlaceHolder id="Comprar por categoria II" />')
  //- 				.shelf.prateleira.shelf__carousel--category
  //- 					ul
  //- 						each val in [1, 2, 3, 4]
  //- 							li
  //- 								include ../shelves/prateleira
  //- 		.buy-by-category
  //- 			.category.category__card
  //- 				.category__card-header
  //- 					.category__card-media
  //- 						img(src="http://via.placeholder.com/275x275")/
  //- 					.category__card-info
  //- 						span.category__name Ferramentas Manuais
  //- 						a.category__link(href="/category.html") Ver todos
  //- 				.category__menu
  //- 					ul.menu-list
  //- 						li
  //- 							a(href="/category.html") Alicates
  //- 						li
  //- 							a(href="/category.html") Lixadeira Manual
  //- 						li
  //- 							a(href="/category.html") Jogos de Soquetes
  //- 						li
  //- 							a(href="/category.html") Grampos
  //- 						li
  //- 							a(href="/category.html") Martelo

  //- 			+vtex-controller('<vtex:contentPlaceHolder id="Comprar por categoria III" />')
  //- 				.shelf.prateleira.shelf__carousel--category
  //- 					ul
  //- 						each val in [1, 2, 3,4]
  //- 							li
  //- 								include ../shelves/prateleira
  //- section.section__page.section__brand
  //- 	.container
  //- 		.shelf.shelf__brand
  //- 			ul
  //- 				each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
  //- 					li
  //- 						a(href='')
  //- 							img(src='http://via.placeholder.com/175x75')/
  //- section.section__page.section__shelf
  //- 	.container
  //- 		h2.section__title Ofertas da semana
  //- 		.shelf
  //- 			+vtex-controller('<vtex:contentPlaceHolder id="Ofertas da semana" />')
  //- 				.prateleira
  //- 					ul
  //- 						each val in [1, 2, 3, 4, 5]
  //- 							li
  //- 								include ../shelves/prateleira
