extends ../layouts/default.pug

block vars
  - var pageTitle = 'Categoria'
  - var bodyClass = 'institucional'

block content
  .crumb-section.wrapper--block
    +vtex-controller('<vtex.cmc:breadCrumb />')
      .bread-crumb
        ul
          li
            a(title='casaegaragem', href='/') thomsonreuters
          li
            a(title='Thomson Reuters', href='https://casaegaragem.vtexcommercestable.com.br/casa-e-jardim') Thomson Reuters
          li.last
            strong
              a(title='Black & Decker', href='https://casaegaragem.vtexcommercestable.com.br/casa-e-jardim/black---decker?O=OrderByTopSaleDESC&PS=12') Resultados para
  section.section__institutional.wrapper
    aside.sidebar.institutional__sidebar
      .institucional__menu
        ul.institucional__list
            a(href="http://").institucional__title Institucional
            li.institucional__item(data-link = "quem")
              a(href="/Institucional") Quem Somos
            li.institucional__item(data-link = "privacy")
              a(href="/Institucional") Política De Privacidade
            li.institucional__item(data-link = "bookpolicy")
              a(href="/Institucional") Contrato De Compra - Livros
            li.institucional__item(data-link = "ebookpolicy")
              a(href="/Institucional") Contrato De Compra - Ebook
            li.institucional__item(data-link = "ebookpolicy")
              a(href="/Institucional") POLÍTICAS DA LOJA
            //- li.institucional__item(data-link = "partners")
            //-   a(href="/fale-conosco") Parceiros
            //- li.institucional__item(data-link = "events")
            //-   a(href="/fale-conosco") Eventos
            //- li.institucional__item(data-link = "bookers")
            //-   a(href="/fale-conosco") Livreiros
        ul.institucional__list
          a(href="http://" data-link = "myservices").institucional__title Meus Serviços
            li.institucional__item
              a(href="/institucional" data-link = "returnpolicy") Trocas e Devoluções
            li.institucional__item
              a(href="/privacidade" data-link = "delivery") Entrega
    .institutional__content
      .banner.institutional__banner
        +vtex-controller('<vtex:contentPlaceHolder id="Banner Institucional"/>')
      .institutional__text
        h3.title
        ul.list
          +vtex-controller('<vtex:contentPlaceHolder id="Conteúdo Institucional"/>')
            li.list__block
              a.list__tlt Quem Somos
                i.simple-arrow-right
              ul.list__content
                li.list__content-txt
                  h3 1. Qual o prazo para reembolso da compra?
                  p
                    |  Toda compra feito pelo site Livraria RT é reembolsada por deposito em conta corrente em nome do cliente.
                    |  O prazo para o pagamento ocorrer é de até 15 dias uteis, após a solicitação do reembolso.

                  h3 2. Como efetuar uma devolução por insatisfação ou arrependimento?
                  p
                    |  Em consonância com o Código de Defesa do Consumidor, a Livraria RT Virtual estabelece um período de sete dias para que o cliente manifeste a sua insatisfação com o produto, a contar da data do recebimento, desde que o produto devolvido esteja em perfeito estado de conservação.
                    |  Recomendamos, portanto, o manuseio cuidadoso de produtos a respeito dos quais você não tem certeza que atendem às suas expectativas.

                  h3 3. Meu produto veio com defeito. Como proceder?
                  p
                    |  Os livros têm garantia por tempo ilimitado, desde que seja comprovado algum defeito originário do processo gráfico (como folhas em branco, páginas coladas ou falhas na encadernação) e desde que haja exemplares disponíveis da mesma edição para substituição. Recomendamos que os produtos sejam conferidos imediatamente após seu recebimento. Para solicitar a troca do seu material contatar o canal de atendimento ao cliente.
            li.list__block
              a.list__tlt Politica de Privacidade
                i.simple-arrow-right
              ul.list__content
                li.list__content-txt
                  h3 1. Qual o prazo para reembolso da compra?
                  p
                    |  Toda compra feito pelo site Livraria RT é reembolsada por deposito em conta corrente em nome do cliente.
                    |  O prazo para o pagamento ocorrer é de até 15 dias uteis, após a solicitação do reembolso.

                  h3 2. Como efetuar uma devolução por insatisfação ou arrependimento?
                  p
                    |  Em consonância com o Código de Defesa do Consumidor, a Livraria RT Virtual estabelece um período de sete dias para que o cliente manifeste a sua insatisfação com o produto, a contar da data do recebimento, desde que o produto devolvido esteja em perfeito estado de conservação.
                    |  Recomendamos, portanto, o manuseio cuidadoso de produtos a respeito dos quais você não tem certeza que atendem às suas expectativas.

                  h3 3. Meu produto veio com defeito. Como proceder?
                  p
                    |  Os livros têm garantia por tempo ilimitado, desde que seja comprovado algum defeito originário do processo gráfico (como folhas em branco, páginas coladas ou falhas na encadernação) e desde que haja exemplares disponíveis da mesma edição para substituição. Recomendamos que os produtos sejam conferidos imediatamente após seu recebimento. Para solicitar a troca do seu material contatar o canal de atendimento ao cliente.
            li.list__block
              a.list__tlt Contrato De Compra - Livros
                i.simple-arrow-right
              ul.list__content
                li.list__content-txt
                  h3 1. Qual o prazo para reembolso da compra?
                  p
                    |  Toda compra feito pelo site Livraria RT é reembolsada por deposito em conta corrente em nome do cliente.
                    |  O prazo para o pagamento ocorrer é de até 15 dias uteis, após a solicitação do reembolso.

                  h3 2. Como efetuar uma devolução por insatisfação ou arrependimento?
                  p
                    |  Em consonância com o Código de Defesa do Consumidor, a Livraria RT Virtual estabelece um período de sete dias para que o cliente manifeste a sua insatisfação com o produto, a contar da data do recebimento, desde que o produto devolvido esteja em perfeito estado de conservação.
                    |  Recomendamos, portanto, o manuseio cuidadoso de produtos a respeito dos quais você não tem certeza que atendem às suas expectativas.

                  h3 3. Meu produto veio com defeito. Como proceder?
                  p
                    |  Os livros têm garantia por tempo ilimitado, desde que seja comprovado algum defeito originário do processo gráfico (como folhas em branco, páginas coladas ou falhas na encadernação) e desde que haja exemplares disponíveis da mesma edição para substituição. Recomendamos que os produtos sejam conferidos imediatamente após seu recebimento. Para solicitar a troca do seu material contatar o canal de atendimento ao cliente.
            li.list__block
              a.list__tlt Contrato De Compra - Ebook
                i.simple-arrow-right
              ul.list__content
                li.list__content-txt
                  h3 1. Qual o prazo para reembolso da compra?
                  p
                    |  Toda compra feito pelo site Livraria RT é reembolsada por deposito em conta corrente em nome do cliente.
                    |  O prazo para o pagamento ocorrer é de até 15 dias uteis, após a solicitação do reembolso.

                  h3 2. Como efetuar uma devolução por insatisfação ou arrependimento?
                  p
                    |  Em consonância com o Código de Defesa do Consumidor, a Livraria RT Virtual estabelece um período de sete dias para que o cliente manifeste a sua insatisfação com o produto, a contar da data do recebimento, desde que o produto devolvido esteja em perfeito estado de conservação.
                    |  Recomendamos, portanto, o manuseio cuidadoso de produtos a respeito dos quais você não tem certeza que atendem às suas expectativas.

                  h3 3. Meu produto veio com defeito. Como proceder?
                  p
                    |  Os livros têm garantia por tempo ilimitado, desde que seja comprovado algum defeito originário do processo gráfico (como folhas em branco, páginas coladas ou falhas na encadernação) e desde que haja exemplares disponíveis da mesma edição para substituição. Recomendamos que os produtos sejam conferidos imediatamente após seu recebimento. Para solicitar a troca do seu material contatar o canal de atendimento ao cliente.
            li.list__block
              a.list__tlt Parceiros
                i.simple-arrow-right
              ul.list__content
                li.list__content-txt
                  h3 1. Qual o prazo para reembolso da compra?
                  p
                    |  Toda compra feito pelo site Livraria RT é reembolsada por deposito em conta corrente em nome do cliente.
                    |  O prazo para o pagamento ocorrer é de até 15 dias uteis, após a solicitação do reembolso.

                  h3 2. Como efetuar uma devolução por insatisfação ou arrependimento?
                  p
                    |  Em consonância com o Código de Defesa do Consumidor, a Livraria RT Virtual estabelece um período de sete dias para que o cliente manifeste a sua insatisfação com o produto, a contar da data do recebimento, desde que o produto devolvido esteja em perfeito estado de conservação.
                    |  Recomendamos, portanto, o manuseio cuidadoso de produtos a respeito dos quais você não tem certeza que atendem às suas expectativas.

                  h3 3. Meu produto veio com defeito. Como proceder?
                  p
                    |  Os livros têm garantia por tempo ilimitado, desde que seja comprovado algum defeito originário do processo gráfico (como folhas em branco, páginas coladas ou falhas na encadernação) e desde que haja exemplares disponíveis da mesma edição para substituição. Recomendamos que os produtos sejam conferidos imediatamente após seu recebimento. Para solicitar a troca do seu material contatar o canal de atendimento ao cliente.
            li.list__block
              a.list__tlt Eventos
                i.simple-arrow-right
              ul.list__content
                li.list__content-txt
                  h3 1. Qual o prazo para reembolso da compra?
                  p
                    |  Toda compra feito pelo site Livraria RT é reembolsada por deposito em conta corrente em nome do cliente.
                    |  O prazo para o pagamento ocorrer é de até 15 dias uteis, após a solicitação do reembolso.

                  h3 2. Como efetuar uma devolução por insatisfação ou arrependimento?
                  p
                    |  Em consonância com o Código de Defesa do Consumidor, a Livraria RT Virtual estabelece um período de sete dias para que o cliente manifeste a sua insatisfação com o produto, a contar da data do recebimento, desde que o produto devolvido esteja em perfeito estado de conservação.
                    |  Recomendamos, portanto, o manuseio cuidadoso de produtos a respeito dos quais você não tem certeza que atendem às suas expectativas.

                  h3 3. Meu produto veio com defeito. Como proceder?
                  p
                    |  Os livros têm garantia por tempo ilimitado, desde que seja comprovado algum defeito originário do processo gráfico (como folhas em branco, páginas coladas ou falhas na encadernação) e desde que haja exemplares disponíveis da mesma edição para substituição. Recomendamos que os produtos sejam conferidos imediatamente após seu recebimento. Para solicitar a troca do seu material contatar o canal de atendimento ao cliente.
            li.list__block
              a.list__tlt Livreiros
                i.simple-arrow-right
              ul.list__content
                li.list__content-txt
                  h3 1. Qual o prazo para reembolso da compra?
                  p
                    |  Toda compra feito pelo site Livraria RT é reembolsada por deposito em conta corrente em nome do cliente.
                    |  O prazo para o pagamento ocorrer é de até 15 dias uteis, após a solicitação do reembolso.

                  h3 2. Como efetuar uma devolução por insatisfação ou arrependimento?
                  p
                    |  Em consonância com o Código de Defesa do Consumidor, a Livraria RT Virtual estabelece um período de sete dias para que o cliente manifeste a sua insatisfação com o produto, a contar da data do recebimento, desde que o produto devolvido esteja em perfeito estado de conservação.
                    |  Recomendamos, portanto, o manuseio cuidadoso de produtos a respeito dos quais você não tem certeza que atendem às suas expectativas.

                  h3 3. Meu produto veio com defeito. Como proceder?
                  p
                    |  Os livros têm garantia por tempo ilimitado, desde que seja comprovado algum defeito originário do processo gráfico (como folhas em branco, páginas coladas ou falhas na encadernação) e desde que haja exemplares disponíveis da mesma edição para substituição. Recomendamos que os produtos sejam conferidos imediatamente após seu recebimento. Para solicitar a troca do seu material contatar o canal de atendimento ao cliente.
