extends ../layouts/default.pug

block vars
	- var pageTitle = 'Categoria'
	- var bodyClass = 'notify-me'

block content

block scripts
	script(src='/arquivos/vtex-smartResearch.js?v=%PROJECT_VERSION%')
