
                        .container.th
                            section.section__breadcrumb
                                vtex.cmc:breadcrumb
                            section.section__product-header
                                .product__name--pgprod.product__name--pgprod-mobile
                                    vtex.cmc:productname
                                .product__main
                                    .product__media
                                        .product__media-top.product__media-top--mobile
                                            vtex.cmc:hightlight
                                                vtex.cmc:productimage(zoom='on')
                                    .product__info--pgprod
                                        .product__name--pgprod
                                            vtex.cmc:productname
                                        .product__price--pgprod
                                            .price
                                                vtex.cmc:skuprice
                                        .product__action--pgprod
                                            .product__action-bottom--pgprod
                                                vtex.cmc:skuselection
                                                    vtex.cmc:buybutton
                                        .product__shipping
                                            // a.product__shipping-link Calcular frete e prazo de entrega
                                            vtex.cmc:shippingvalue
                        .container--full.bg-white
                            .container
                                section.section__product-bottom
                                    .product__description
                                        h2.product__description-title
                                            | Descrição:
                                            i.simple-arrow-right
                                        .product__description-text
                                            vtex.cmc:productdescription
                                    .product__specification
                                        h2.product__description-title
                                            | Ficha Técnica:
                                            i.simple-arrow-right
                                        .product__specification-text
                                            vtex.cmc:productspecification
                        .container--full.bg-white
                            .container
                                section.section__page.section__avaliacao
                                    h2.section__title.section__title--darker Avaliações
                                    .resenha
                                        vtex.cmc:userreview
                        .container
                            section.section__page.section__shelf
                                h2.section__title.section__title--darker Clientes também compraram
                                .shelf.shelf__carousel--full
                                    vtex:contentplaceholder#Quem-viu-viu-tambem
                        // The Modal
                        #myModal.modal-sumary
                            // Modal content
                            .modal-sumary__content
                                span.close ×
                                .modal-sumary__container
                    +vtex-controller('<vtex.cmc:modalvideo/>')
