.navigation-tabs
	.menu-departamento
		span.rt
		span.rb
		div
			.menu-navegue
				a.search-navigator-tab.tab-navegue-ativo(title='Navegue', href='#') Navegar
				a.search-navigator-tab.tab-refinar(title='Refinar Resultado', href='#') Refinar Resultado
			.search-multiple-navigator(style='visibility: visible;')
				h3.roupas
					span
					a(href='https://www.thomsonreuters.com.br/roupas', title='Roupas') Roupas
				h4.roupas
					span
					a(href='https://www.thomsonreuters.com.br/roupas', title='Roupas') Roupas
				a.bt-refinar.search-filter-button.even(title='Refinar Resultado', href='#') Refinar Resultado
				fieldset.refino.even.Caracteristicas.filtro_modelo
					h5.even.Caracteristicas Modelo
					div
						label.sr_moletom(title='Moletom', index='0')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Moletom', type='checkbox', name='Moletom', value='Moletom')
							| Moletom 
							span.sr_box
							span.sr_box2
						label.sr_dry-fit(title='Dry Fit', index='1')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Dry+Fit', type='checkbox', name='Dry+Fit', value='Dry Fit')
							| Dry Fit 
							span.sr_box
							span.sr_box2
						label.sr_walk(title='Walk', index='2')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Walk', type='checkbox', name='Walk', value='Walk')
							| Walk 
							span.sr_box
							span.sr_box2
						label.sr_moletom-careca(title='Moletom Careca', index='3')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Moletom+Careca', type='checkbox', name='Moletom+Careca', value='Moletom Careca')
							| Moletom Careca 
							span.sr_box
							span.sr_box2
						label.sr_jaqueta-corta-vento(title='Jaqueta Corta vento', index='4')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Jaqueta+Corta+vento', type='checkbox', name='Jaqueta+Corta+vento', value='Jaqueta Corta vento')
							| Jaqueta Corta vento 
							span.sr_box
							span.sr_box2
						label.sr_boxer(title='Boxer', index='5')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Boxer', type='checkbox', name='Boxer', value='Boxer')
							| Boxer 
							span.sr_box
							span.sr_box2
						label.(class='sr_malha-100%-algodao', title='Malha 100% Algodão', index='6')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Malha+100%25+Algod%c3%a3o', type='checkbox', name='Malha+100%25+Algod%c3%a3o', value='Malha 100% Algodão')
							| Malha 100% Algodão 
							span.sr_box
							span.sr_box2
						label.sr_manga-curta(title='Manga Curta', index='7')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Manga+Curta', type='checkbox', name='Manga+Curta', value='Manga Curta')
							| Manga Curta 
							span.sr_box
							span.sr_box2
						label.sr_moletom-canguru(title='Moletom Canguru', index='8')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Moletom+Canguru', type='checkbox', name='Moletom+Canguru', value='Moletom Canguru')
							| Moletom Canguru 
							span.sr_box
							span.sr_box2
						label.sr_moletom-zipper(title='Moletom Zipper', index='9')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:Moletom+Zipper', type='checkbox', name='Moletom+Zipper', value='Moletom Zipper')
							| Moletom Zipper 
							span.sr_box
							span.sr_box2
						label.sr_samba-cancao(title='SAMBA CANÇÃO', index='10')
							input.multi-search-checkbox(rel='fq=specificationFilter_22:SAMBA+CAN%c3%87%c3%83O', type='checkbox', name='SAMBA+CAN%c3%87%c3%83O', value='SAMBA CANÇÃO')
							| SAMBA CANÇÃO 
							span.sr_box
							span.sr_box2
				fieldset.refino.Caracteristicas.filtro_tamanho
					h5.Caracteristicas Tamanho
					div
						label.sr_p(title='P', index='0')
							input.multi-search-checkbox(rel='fq=specificationFilter_23:P', type='checkbox', name='P', value='P')
							| P 
							span.sr_box
							span.sr_box2
						label.sr_m(title='M', index='1')
							input.multi-search-checkbox(rel='fq=specificationFilter_23:M', type='checkbox', name='M', value='M')
							| M 
							span.sr_box
							span.sr_box2
						label.sr_g(title='G', index='2')
							input.multi-search-checkbox(rel='fq=specificationFilter_23:G', type='checkbox', name='G', value='G')
							| G 
							span.sr_box
							span.sr_box2
						label.sr_gg(title='GG', index='3')
							input.multi-search-checkbox(rel='fq=specificationFilter_23:GG', type='checkbox', name='GG', value='GG')
							| GG 
							span.sr_box
							span.sr_box2
						label.sr_ggg(title='GGG', index='4')
							input.multi-search-checkbox(rel='fq=specificationFilter_23:GGG', type='checkbox', name='GGG', value='GGG')
							| GGG 
							span.sr_box
							span.sr_box2
				fieldset.refino.even.Caracteristicas.filtro_cor
					h5.even.Caracteristicas Cor
					div
						label.sr_branco(title='BRANCO', index='0')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:BRANCO', type='checkbox', name='BRANCO', value='BRANCO')
							| BRANCO 
							span.sr_box
							span.sr_box2
						label.sr_preto(title='PRETO', index='1')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:PRETO', type='checkbox', name='PRETO', value='PRETO')
							| PRETO 
							span.sr_box
							span.sr_box2
						label.sr_mescla(title='MESCLA', index='2')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:MESCLA', type='checkbox', name='MESCLA', value='MESCLA')
							| MESCLA 
							span.sr_box
							span.sr_box2
						label.sr_marrom(title='MARROM', index='3')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:MARROM', type='checkbox', name='MARROM', value='MARROM')
							| MARROM 
							span.sr_box
							span.sr_box2
						label.sr_camuflado(title='CAMUFLADO', index='4')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:CAMUFLADO', type='checkbox', name='CAMUFLADO', value='CAMUFLADO')
							| CAMUFLADO 
							span.sr_box
							span.sr_box2
						label.sr_cinza(title='CINZA', index='5')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:CINZA', type='checkbox', name='CINZA', value='CINZA')
							| CINZA 
							span.sr_box
							span.sr_box2
						label.sr_verde-escuro(title='VERDE ESCURO', index='6')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:VERDE+ESCURO', type='checkbox', name='VERDE+ESCURO', value='VERDE ESCURO')
							| VERDE ESCURO 
							span.sr_box
							span.sr_box2
						label.sr_rosa(title='ROSA', index='7')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:ROSA', type='checkbox', name='ROSA', value='ROSA')
							| ROSA 
							span.sr_box
							span.sr_box2
						label.sr_marinho(title='MARINHO', index='8')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:MARINHO', type='checkbox', name='MARINHO', value='MARINHO')
							| MARINHO 
							span.sr_box
							span.sr_box2
						label.sr_vinho(title='VINHO', index='9')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:VINHO', type='checkbox', name='VINHO', value='VINHO')
							| VINHO 
							span.sr_box
							span.sr_box2
						label.sr_vermelho(title='VERMELHO', index='10')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:VERMELHO', type='checkbox', name='VERMELHO', value='VERMELHO')
							| VERMELHO 
							span.sr_box
							span.sr_box2
						label.sr_azul(title='AZUL', index='11')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:AZUL', type='checkbox', name='AZUL', value='AZUL')
							| AZUL 
							span.sr_box
							span.sr_box2
						label.sr_bege(title='BEGE', index='12')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:BEGE', type='checkbox', name='BEGE', value='BEGE')
							| BEGE 
							span.sr_box
							span.sr_box2
						label.sr_sublimacao(title='SUBLIMACAO', index='13')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:SUBLIMACAO', type='checkbox', name='SUBLIMACAO', value='SUBLIMACAO')
							| SUBLIMACAO 
							span.sr_box
							span.sr_box2
						label.sr_azul-claro(title='AZUL CLARO', index='14')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:AZUL+CLARO', type='checkbox', name='AZUL+CLARO', value='AZUL CLARO')
							| AZUL CLARO 
							span.sr_box
							span.sr_box2
						label.sr_amarelo(title='AMARELO', index='15')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:AMARELO', type='checkbox', name='AMARELO', value='AMARELO')
							| AMARELO 
							span.sr_box
							span.sr_box2
						label.sr_mescla-escuro(title='MESCLA ESCURO', index='16')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:MESCLA+ESCURO', type='checkbox', name='MESCLA+ESCURO', value='MESCLA ESCURO')
							| MESCLA ESCURO 
							span.sr_box
							span.sr_box2
						label.sr_azul-18-3945-tcx(title='AZUL 18-3945 TCX', index='17')
							input.multi-search-checkbox(rel='fq=specificationFilter_24:AZUL+18-3945+TCX', type='checkbox', name='AZUL+18-3945+TCX', value='AZUL 18-3945 TCX')
							| AZUL 18-3945 TCX 
							span.sr_box
							span.sr_box2
			.search-single-navigator(style='display: none;')
				h3.roupas
					span
					a(href='https://www.thomsonreuters.com.br/roupas', title='Roupas') Roupas
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/camisetas?O=OrderByPriceASC&PS=48', title='Camisetas') Camisetas (260)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/regatas?O=OrderByPriceASC&PS=48', title='Regatas') Regatas (82)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/raglans?O=OrderByPriceASC&PS=48', title='Raglans') Raglans (3)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/casacos?O=OrderByPriceASC&PS=48', title='Casacos') Casacos (23)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/bermudas?O=OrderByPriceASC&PS=48', title='Bermudas') Bermudas (32)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/calcas?O=OrderByPriceASC&PS=48', title='Calças') Calças (4)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/camisas-de-botao?O=OrderByPriceASC&PS=48', title='Camisas de botão') Camisas de botão (9)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/underwear?O=OrderByPriceASC&PS=48', title='Underwear') Underwear (4)
				h4.roupas.even
					a(href='https://www.thomsonreuters.com.br/roupas/baseball?O=OrderByPriceASC&PS=48', title='Baseball') Baseball (2)
				h5.Hide.Caracteristicas.HideModelo Modelo
				ul.Modelo.Caracteristicas
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Moletom?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Moletom') Moletom (9)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Dry Fit?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Dry Fit') Dry Fit (47)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Walk?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Walk') Walk (8)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Moletom Careca?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Moletom Careca') Moletom Careca (8)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Jaqueta Corta vento?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Jaqueta Corta vento') Jaqueta Corta vento (3)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Boxer?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Boxer') Boxer (1)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Malha 100@perc@ Algodão?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Malha 100% Algodão') Malha 100% Algodão (273)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Manga Curta?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Manga Curta') Manga Curta (3)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Moletom Canguru?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Moletom Canguru') Moletom Canguru (9)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/Moletom Zipper?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='Moletom Zipper') Moletom Zipper (4)
					li.last
						a(href='https://www.thomsonreuters.com.br/roupas/SAMBA CANÇÃO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_22', title='SAMBA CANÇÃO') SAMBA CANÇÃO (3)
				h5.Hide.even.Caracteristicas.HideTamanho Tamanho
				ul.Tamanho.even.Caracteristicas
					li
						a(href='https://www.thomsonreuters.com.br/roupas/P?O=OrderByPriceASC&PS=48&map=c,specificationFilter_23', title='P') P (263)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/M?O=OrderByPriceASC&PS=48&map=c,specificationFilter_23', title='M') M (226)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/G?O=OrderByPriceASC&PS=48&map=c,specificationFilter_23', title='G') G (130)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/GG?O=OrderByPriceASC&PS=48&map=c,specificationFilter_23', title='GG') GG (86)
					li.last
						a(href='https://www.thomsonreuters.com.br/roupas/GGG?O=OrderByPriceASC&PS=48&map=c,specificationFilter_23', title='GGG') GGG (55)
				h5.Hide.Caracteristicas.HideCor Cor
				ul.Cor.Caracteristicas
					li
						a(href='https://www.thomsonreuters.com.br/roupas/BRANCO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='BRANCO') BRANCO (84)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/PRETO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='PRETO') PRETO (224)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/MESCLA?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='MESCLA') MESCLA (39)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/MARROM?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='MARROM') MARROM (1)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/CAMUFLADO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='CAMUFLADO') CAMUFLADO (11)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/CINZA?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='CINZA') CINZA (1)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/VERDE ESCURO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='VERDE ESCURO') VERDE ESCURO (8)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/ROSA?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='ROSA') ROSA (2)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/MARINHO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='MARINHO') MARINHO (6)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/VINHO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='VINHO') VINHO (17)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/VERMELHO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='VERMELHO') VERMELHO (5)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/AZUL?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='AZUL') AZUL (11)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/BEGE?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='BEGE') BEGE (4)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/SUBLIMACAO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='SUBLIMACAO') SUBLIMACAO (2)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/AZUL CLARO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='AZUL CLARO') AZUL CLARO (1)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/AMARELO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='AMARELO') AMARELO (2)
					li
						a(href='https://www.thomsonreuters.com.br/roupas/MESCLA ESCURO?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='MESCLA ESCURO') MESCLA ESCURO (1)
					li.last
						a(href='https://www.thomsonreuters.com.br/roupas/AZUL 18-3945 TCX?O=OrderByPriceASC&PS=48&map=c,specificationFilter_24', title='AZUL 18-3945 TCX') AZUL 18-3945 TCX (1)
.urlLastSearch(style='display:none') http://www.thomsonreuters.com.br/roupas?PS=48&O=OrderByPriceASC
