script(src='/arquivos/ec-slick.js?v=%PROJECT_VERSION%')
script(src="/arquivos/%PROJECT_ID%.min.js?v=%PROJECT_VERSION%")
<script type="text/javascript">$('.section__split .prateleira ul').addClass('most-visited__list');</script>
