footer.main-footer
	.main-footer__area.main-footer__top
		.wrapper
			.main-footer__news Receba nossos Lançamentos
				.search-bar.search-bar--narrow
					input(type="search", name="search").search-bar__input/
					a(href="#").search-button.search-button__footer
			.main-footer__ct Conecte-se Conosco
				a(href="https://www.facebook.com/revistadostribunais")
					i.simple-social-facebook
				a(href="https://twitter.com/revtribunais")
					i.simple-social-twitter

	.main-footer__area.main-footer__main
		.wrapper--block
			.main-footer__inner
				.main-footer__box
					.main-footer__logo
						span
							include ../../svg/small-logo-thomson.svg
						span
							include ../../svg/thomson-name-medium.svg
					.main-footer__social
						a(href="https://www.linkedin.com/showcase/thomson-reuters-legal", target="_blank")
							i.simple-social-linkedin
						a(href="https://www.instagram.com/thomsonreutersbr/", target="_blank")
							i.simple-social-instagram
						a(href="https://www.youtube.com/thomsonreuters", target="_blank")
							i.simple-social-youtube
					.main-footer__title Nossas Áreas
						.dropdown-select Selecione
							a(href="#" , onclick="dropThis()").search-button.search-button__footer--down
						.dropdown-area-content#dropDownArea
						//- MAKE LI HERE
				.main-footer__box
					.main-footer__institucional
						h3.main-footer__title Intitucional
						ul.main-footer__list
							li.main-footer__item
								a(href="/Institucional?#quem-somos", rel="noopener noreferrer") Quem Somos
							li.main-footer__item
								a(href="/Institucional?#privacidade", rel="noopener noreferrer") Política de Privacidade
							li.main-footer__item
								a(href="/Institucional?#ebook", rel="noopener noreferrer") Contrato de Compra - Ebook
							li.main-footer__item
								a(href="/Institucional?#parceiros", rel="noopener noreferrer") Parceiros
							li.main-footer__item
								a(href="/Institucional?#eventoss", rel="noopener noreferrer") Eventos
							li.main-footer__item
								a(href="/Institucional?#livreiros", rel="noopener noreferrer") Livreiros


				.main-footer__box
					.main-footer__duvidas
						h3.main-footer__title Atendimento
						ul.main-footer__list
							p.main-footer__text <strong>(11)4935-2387</strong>
							p.main-footer__text Horário de atendimento:
							p.main-footer__text De segunda a sexta
							p.main-footer__text das 9h às 18h
							a(href="mailto:atendimento@livrariart.com.br").main-footer__text atendimento@livrariart.com.br



				.main-footer__box--split
					.main-footer__title Pagamento
						ul.main-footer__list--flex
							li.main-footer__item
								include ../../svg/visa-icon.svg
							li.main-footer__item
								include ../../svg/master-icon.svg
							li.main-footer__item
								include ../../svg/dinners-icon.svg
							li.main-footer__item
								include ../../svg/amex-icon.svg
							li.main-footer__item
								include ../../svg/boleto-icon.svg
					.main-footer__title Segurança
						ul.main-footer__list--flex
							li.main-footer__item
								img(src="/arquivos/cloudflare-icon.png", alt="")/
							li.main-footer__item--split
								include ../../svg/ecore-icon.svg
								include ../../svg/vtex-icon.svg
	.main-footer__area.main-footer__copyright
		.wrapper
			p.main-footer__copyright-text
				| Todos os direitos reservados. Infracommerce Negócios e Soluções em Internet Ltda. CNPJ 15.427.207/0001-14 - Av. Doutor Cardoso De Melo, 1855, 15 andar Conjunto 151, Jardim Paulistano - 04548-005 - São Paulo/SP. É vedada a sua reprodução, total ou parcial. O preço válido será o da finalização da compra.
			include ../../svg/infra-icon.svg

footer.mobile-footer
	.mobile-footer__news Receba nossos Lançamentos
					.search-bar.search-bar--narrow
						input(type="search", name="search").search-bar__input/
						a(href="#").search-button.search-button__footer
	ul.mobile-footer__list
		li.mobile-footer__item
			| Dúvidas? Ligue 0800-702-2433
		li.mobile-footer__item
			a(href="http://") Rede Social
				i.simple-arrow-right
		li.mobile-footer__item
			a(href="/institutional") Institucional
				i.simple-arrow-right
		li.mobile-footer__item
			a(href="/institucional") Dúvidas
				i.simple-arrow-right
	.mobile-footer__bandeiras
		span
			include ../../svg/visa-icon.svg
		span
			include ../../svg/master-icon.svg
		span
			include ../../svg/dinners-icon.svg
		span
			include ../../svg/amex-icon.svg
		span
			include ../../svg/boleto-icon.svg
		span
			img(src="/arquivos/cloudflare-footer.png", alt="")/
		span
			include ../../svg/vtex-icon.svg
		span
			include ../../svg/ecore-icon.svg
	.mobile-footer__copyright
		p.mobile-footer__owner Copyright © 2018 Thomson Reuters, Inc.<br />Todos os direitos reservados.
		p.mobile-footer__powered Powered by Infracommerce
