body.home {
	.section__shelf {
		@include atMedium {
			z-index: 5;
			.slick-track {
				height: 500px;
			}
		}
	}

	.imageDestaque {
		@include atMedium {
			margin-top: -100px;
		}
	}

	.section__split {
		section.section__shelf-banners {
			margin-top: 0;
		}
	}
}
