body.home {
	.section__shelf {
		height: 560px;
		margin-top: 20px;
		@include atMedium {
			z-index: 5;
			.slick-track {
				height: 500px;
			}
		}

		.shelf__carousel--full {
			position: relative;
			visibility: hidden;
			&.active {
				visibility: visible;
			}
			.prateleira {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
			}
		}
	}

	.imageDestaque {
		@include atMedium {
			margin-top: -100px;
		}
	}

	.section__areas {
		button.slick-arrow {
			border: none;
		}
	}

	.section__split {
		section.section__shelf-banners {
			margin-top: 0;
		}
	}
	.section__hero {
		.box-banner {
			&:not(.slick-slide) {
				display: none;
				:first-of-type {
					display: block;
				}
			}

		}
	}
}
