.not-found {
  &__title {
    color: $c-orange;
    font-family: "Knowledge-Bold";
    font-size: 150px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    color: $c-black;
    font-family: "Knowledge Bold";
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding: 0 30%;
  }
}
