.empty-search {


  &__text {
    font-size: 20px;
    font-weight: $c-gray-dark;
    font-weight: 700;
  }
  &__text--small {
    font-size: 18px;
  }
  &__search {
    padding: 0 10px;
  }
  &__icon {
    font-size: 6.5em;
    color: $c-orange;
  }
}
