// CHANGED DEFAULT NAME TO MAIN-FOOTER BECAUSE OF BULMA
.main-footer {
  color: $c-white;
  font-family: "Knowledge-Medium";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  &__top {
    height: 100px;
    background-image: url("/arquivos/header-top.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__main {
    background-color: $c-white;
  }
  &__news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 615px;
  }
  &__ct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 272px;
    .simple-social-facebook,
    .simple-social-twitter {
      font-size: 25px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: $c-white;
      color: $c-gray-dark;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__inner {
    display: grid;
    height: 260px;
    grid-template-columns: repeat(3, 1fr) 1.2fr;
    padding-top: 42px;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    span:first-child {
      margin-right: 6px;
    }
  }
  &__title {
    color: $c-gray-dark;
    font-family: "Knowledge-Medium";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 11px;
  }
  &__list {
    &--flex {
      display: flex;
      justify-content: space-between;
      min-width: 277px;
      margin-top: 11px;
    }
  }

  &__item {
    font-family: "Knowledge-Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    a {
      color: $c-gray-dark;
    }
    &--bold {
      a {
        font-family: "Knowledge-Medium";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: $c-gray-dark;
      }
    }
    &--split {
      display: flex;
      flex-direction: column;
      svg {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
  &__box {
    &--split {
      display: grid;
      grid-template-rows: 0.5fr 1fr;
    }
  }
  &__copyright {
    color: $c-copyright;
    font-family: Arial;
    font-size: 10px;
    height: 60px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      flex-shrink: 0;
    }
  }
  &__copyright-text {
    flex-basis: 80%;
  }
  &__social {
    font-size: 20px;
    color: $c-white;
    display: flex;
    margin-bottom: 30px;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: $c-gray-dark;
      margin-right: 10px;
    }
  }
}
