// CHANGED DEFAULT NAME TO MAIN-FOOTER BECAUSE OF BULMA
.main-footer {
	display: none;
	@include atMedium {
		display: block;
		color: $c-white;
		font-family: "Knowledge-Medium";
		@include font-size(14px);
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		&__top {
			height: 100px;
			background-image: url("/arquivos/header-top.png");
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__main {
			background-color: $c-white;
		}
		&__news {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			flex-basis: 100%;
			padding: 10px;
			color: $c-white;
			font-family: "Knowledge-Medium";
			@include font-size(16px);
			font-weight: 500;
			text-transform: uppercase;

			@include atMedium {
				flex-direction: row;
				flex-basis: 56%;
				padding: 0;
			}
		}
		&__ct {
			a {
				text-decoration: none;
				color: $c-white;
			}
			display: none;
			@include atMedium {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-basis: 24%;
				.simple-social-facebook,
				.simple-social-twitter {
					@include font-size(25px);
					width: 40px;
					height: 40px;
					border-radius: 20px;
					background-color: $c-white;
					color: $c-gray-dark;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;
				}
			}
		}
		&__inner {
			display: grid;
			height: 260px;
			grid-template-columns: repeat(3, 1fr) 1.2fr;
			padding-top: 42px;
		}
		&__logo {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			span:first-child {
				margin-right: 6px;
			}
		}
		&__title {
			color: $c-gray-dark;
			font-family: "Knowledge-Medium";
			@include font-size(14px);
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 11px;
		}
		&__list {
			&--flex {
				display: flex;
				justify-content: space-between;
				min-width: 277px;
				margin-top: 11px;
			}
		}

		&__item {
			font-family: "Knowledge-Regular";
			@include font-size(13px);
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.5px;
			text-transform: capitalize;
			a {
				color: $c-gray-dark;
			}
			&--bold {
				a {
					font-family: "Knowledge-Medium";
					@include font-size(14px);
					font-weight: 500;
					letter-spacing: 0.5px;
					color: $c-gray-dark;
				}
			}
			&--split {
				display: flex;
				flex-direction: column;
				svg {
					&:first-child {
						margin-bottom: 20px;
					}
				}
			}
		}
		&__text {
			font-family: "Knowledge-Regular";
			@include font-size(13px);
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0.5px;
			text-transform: capitalize;
			color: $c-gray-dark;
		}
		a.main-footer__text {
			text-transform: lowercase;
			font-weight: bold;
		}
		&__box {
			&--split {
				display: grid;
				grid-template-rows: 0.5fr 1fr;
			}
		}
		&__copyright {
			color: $c-copyright;
			font-family: Arial;
			@include font-size(10px);
			height: 60px;
			text-transform: capitalize;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				flex-shrink: 0;
			}
		}
		&__copyright-text {
			flex-basis: 80%;
		}
		&__social {
			@include font-size(20px);
			color: $c-white;
			display: flex;
			margin-bottom: 30px;
			a {
				text-decoration: none;
				color: $c-white;
			}
			i {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				border-radius: 20px;
				background-color: $c-gray-dark;
				margin-right: 10px;
			}
		}
	}
}
.mobile-footer {
	@include font-size(18px);
	background: $c-white;
	color: $c-gray-dark;
	font-family: "Knowledge-Medium";
	font-weight: 500;
	a,
	span {
		color: $c-gray-dark;
		display: flex;
		justify-content: space-between;
		padding: 15px;
	}
	&__item {
		border-bottom: 1px solid $c-grey-simple;
		i {
			&.arrow-down {
				transform: rotate(90deg);
			}
		}
		ul {
			display: none;
			background-color: #f0f0f0;
			align-items: center;
			flex-direction: column;
			li {
				width: 100%;
				a,
				span {
					font-size: 16px;
					font-weight: 500;
					text-align: left;
					text-transform: uppercase;
					color: #979797;
					font-family: "Knowledge-Medium";
				}
			}
		}
	}
	&__bandeiras {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 20px;
		span {
			margin: 10px 0;
			padding: 0;
		}
	}
	&__copyright {
		@include font-size(12px);
		background: $c-mainbg;
		color: $c-gray-dark;
		font-family: Arial;
		line-height: 16px;
		text-align: center;
		p {
			padding: 16px;
		}
		:nth-child(2) {
			padding-top: 0;
		}
	}
	&__news {
		@include font-size(16px);
		background-image: url("/arquivos/header-top.png");
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $c-white;
		font-family: "Knowledge-Medium";
		font-weight: 500;
		text-transform: uppercase;
		padding: 15px 10px;
	}
	@include atMedium {
		display: none;
	}
	&__powered {
		color: #979797;
	}
}
