.header {
	p.welcome {
		font-size: 11px;
		text-transform: uppercase;
		a {
			color: #4e4d4d;
			font-weight: 500;
			text-decoration: none;
			font-style: normal;
			padding-left: 3px;
		}
	}
	a.accountLink {
		margin-left: 10px;
		color: #5d5d5d;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-left: 1px solid;
		padding-left: 10px;
		font-family: "Knowledge-Regular";
	}
	.tip-bar {
		display: none;
		@include atMedium {
			background-color: $c-mainbg;
			display: flex;
			justify-content: center;
			@include font-size(10px);
			flex-direction: column;
			height: 30px;
			align-items: center;
		}

		&__login {
			font-family: "Knowledge-Bold";
			@include font-size(10px);
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			color: $c-gray-dark;
		}
		&__ct-phone {
			color: $c-gray-dark;
			font-family: Helvetica;
			@include font-size(10px);
			display: flex;
		}
		.simple-phone {
			@include font-size(13px);
			margin-right: 6px;
		}
	}

	&__menu-icon {
		width: 23px;
		height: 19px;
		position: relative;
		z-index: 10;
		left: 18px;
		margin: 4% 0;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 23px;
			height: 2px;
			background-color: $c-gray-dark;
			transform-origin: 0 0;
			transition: transform 0.3s ease-out;
		}
		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 23px;
			height: 2px;
			background-color: $c-gray-dark;
			transition: all 0.3s ease-out;
			transform-origin: 0 50%;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 23px;
			height: 2px;
			background-color: $c-gray-dark;
			transform-origin: 0% 100%;
			transition: transform 0.3s ease-out;
		}
		@include atMedium {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
			background-color: $c-white;
		}

		.header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scale(1.25) translateY(1px)
				translateX(-1px);
			background-color: $c-white;
		}
	}

	.main-header {
		display: flex;
		align-items: center;
		min-height: 50px;
		height: 100%;
		position: relative;
		background-color: $c-white;
		@include atMedium {
			height: 80px;
			display: flex;
			align-items: center;
			background-color: $c-white;
		}

		&__logos {
			display: flex;
			flex-direction: column;
			flex-basis: 56.5%;
			@include atMedium {
				margin-left: 0;
				flex-basis: 20.83%;
			}
		}
		&__logos-link {
			display: flex;
			flex-direction: column;
			.logo1,
			.logo2 {
				line-height: normal;
				display: flex;
			}
			.logo1 svg {
				width: 24.03%;
				height: auto;
			}
			.logo2 svg {
				width: 100%;
				height: 100%;
			}
			@include atMedium {
				line-height: 0.5em;

				.logo1 svg {
					width: auto;
				}
				.logo2 svg {
					width: auto;
				}
			}
		}

		&__carrinho {
			@include font-size(25px);
			color: $c-gray-dark;
			position: relative;
			padding-top: 10px;
			@include atMedium {
				@include font-size(30px);
				order: 3;
				padding: 0;
			}
		}
		&__menu-content {
			width: 100%;
		}
	}
}

.header--is-sticky {
	animation: stickyHeader 0.3s 1 0s linear;
	transition: animation;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	.search-bar {
		display: none;
		@include atMedium {
			display: flex;
		}
	}
	.tip-bar {
		@include atMedium {
			display: none;
		}
	}
	@include atMedium {
		animation: none;
	}
}

@keyframes stickyHeader {
	0% {
		transform: translateY(-100%);
	}
	50% {
		transform: rotate(xx) translateY(-50%);
	}
	100% {
		transform: rotate(xx) translateY(100%);
	}
}
