.header {
  .tip-bar {
    display:none;
    @include atMedium {
      background-color: $c-mainbg;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      flex-direction: column;
    }

    &__login {
      font-family: "Knowledge-Bold";
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $c-gray-dark;
    }
    &__ct-phone {
      color: $c-gray-dark;
      font-family: Helvetica;
      font-size: 10px;
      display: flex;
    }
    .simple-phone {
      font-size: 13px;
      margin-right: 6px;
    }
  }

  .main-header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: $c-white;

    &__logos-link {
      display: flex;
      flex-direction: column;
      line-height: 0.5em;
    }

    &__carrinho {
      font-size: 30px;
      color: $c-gray-dark;
      position: relative;
      &:after {
        position: absolute;
        top: -6px;
        right: -12px;
        display: inline-block;
        content: "";
        width: 20px;
        height: 20px;
        background-color: $c-orange;
        border-radius: 50%;
      }
    }
  }
}
