.section {
  &__page {
    position: relative;
  }

  &__areas {
    background: $c-white;
    height: 300px;
  }
  &__title {
    text-align: left;
    font-family: $f-secondary;
    font-size: 25px;
    font-weight: 900;
    color: $c-black;
    margin-bottom: 20px;
  }

  &__shelf {
    margin: 40px 0;
	}

	&__shelf-banners {
		margin: 40px 0;
	}

}
