.section {
	&__page {
		position: relative;
		margin-top: 40px;
	}

	&__areas {
		background: $c-white;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		text-align: center;
		color: $c-gray-dark;
		font-family: "Knowledge-Black";
		@include font-size(25px);
		margin-bottom: 20px;
		padding: 0 10px;
		@include atMedium {
			text-align: left;
			padding: 0;
		}
		&--darker {
			color: #4d4d4d;
		}
	}

	&__shelf {
		padding: 0 20px;
	}

	&__split {
		background: $c-white;

	}

	&__split-the-grid {
		@include atMedium {
			height: initial;
			display: flex;
			padding: 38px 0 54px 0;

		}
	}
	&__not-found {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $c-white;
		padding: 15% 4% 15% 4%;
		@include atMedium {
			padding: 0 0 3% 0;
		}
	}
	&__empty-search {
		display: grid;
		align-items: center;
		grid-auto-rows: min-content;
		grid-gap: 20px;
		justify-content: center;
		padding: 60px 0;
		background-color: $c-white;
		text-align: center;
	}
	&__institutional {
		display: grid;
		grid-template-columns: 1fr;
		align-items: flex-start;
		grid-gap: 3rem;
		margin: 0;
		@include atMedium {
			margin: 40px auto;
			grid-template-columns: minmax(auto, 0.8fr) 2fr;
		}
	}
	&__product-bottom {
		display: flex;
		margin-top: 30px;
		@include atMedium {

			padding: 30px 0;
			margin-top: 0;
		}

		.product__description {
			max-width: 635px;
		}
	}
}
