.section {
  &__page {
    position: relative;
  }

  &__areas {
    background: $c-white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-align: left;
    font-family: $f-secondary;
    font-size: 25px;
    font-weight: 900;
    color: $c-black;
    margin-bottom: 20px;
  }

  &__shelf {
    margin: 40px 0;
	}

	&__shelf-banners {
		margin: 40px 0;
  }

  &__split {
    background: $c-white;
  }

  &__split-the-grid{
    @include atMedium{
      height:485px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding: 38px 0 54px 0;
    }
  }

}
